@{ Layout = null; }
<div class="page-header">
    <div class="col-md-12 no-padding m-b-10 border-white header p-b-10">
        <form id="frmCompanySearch" class="form-inline form-validate" role="form" onsubmit="return false">
            <div class="form-group" style="margin-left:10px; margin-right:10px;float:left;">
                <h1 class="page-title" style="margin-top:-4px;">RSI</h1>
            </div>
            <div class="form-group m-r-10 m-t-10">
                <input type="hidden" name="symbols" />
            </div>
            <div class="form-group m-r-10 m-t-10">
                <input type="hidden" name="categories" />
            </div>
            <div class="form-group m-r-10 m-t-10">
                <input type="hidden" name="mf_ids" />
            </div>
            <div class="form-group m-r-10 m-t-10">
                <input type="text" name="from_price" class="form-control input-sm" placeholder="From Price" style="width:100px" />
            </div>
            <div class="form-group m-r-10 m-t-10">
                <input type="text" name="to_price" class="form-control input-sm" placeholder="To Price" style="width:100px" />
            </div>
            <div class="clearfix"></div>
            <div class="m-l-15">
                <div class="form-group m-r-10 m-t-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="is_archive" /> Show Archive
                        </label>
                    </div>
                </div>
                <div class="form-group m-r-10 m-t-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="is_book_mark" /> Show Book Mark
                        </label>
                    </div>
                </div>
                <div class="form-group m-r-10 m-t-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="is_nifty_50" /> Nifty 50
                        </label>
                    </div>
                </div>
                <div class="form-group m-r-10 m-t-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="is_nifty_100" /> Nifty 100
                        </label>
                    </div>
                </div>
                <div class="form-group m-r-10 m-t-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="is_nifty_200" /> Nifty 200
                        </label>
                    </div>
                </div>
                <div class="form-group m-r-10 m-t-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="is_old" /> Old
                        </label>
                    </div>
                </div>
                <div class="form-group m-r-10 m-t-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="is_mf" /> MF Stock
                        </label>
                    </div>
                </div>
            </div>
            <div class="clearfix"></div>
            <div class="m-l-15">
                <div class="form-group m-r-10 m-t-10">
                    <input type="text" name="from_prev_rsi" class="form-control input-sm" value="70" placeholder="From Prev RSI" style="width:100px" />
                </div>
                <div class="form-group m-r-10 m-t-10">
                    <input type="text" name="to_prev_rsi" class="form-control input-sm" placeholder="To Prev RSI" style="width:100px" />
                </div>
                <div class="form-group m-r-10 m-t-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="is_sell_to_buy" /> Sell To Buy
                        </label>
                    </div>
                </div>
                <div class="form-group m-r-10 m-t-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="is_buy_to_sell" /> Buy To Sell
                        </label>
                    </div>
                </div>
                <div class="form-group m-r-10 m-t-10">
                    <input type="text" name="from_rsi" class="form-control input-sm" placeholder="From RSI" style="width:100px" />
                </div>
                <div class="form-group m-r-10 m-t-10">
                    <input type="text" name="to_rsi" class="form-control input-sm" placeholder="To RSI" style="width:100px" />
                </div>
                <div class="form-group m-r-10 m-t-10">
                    <input type="text" name="max_negative_count" class="form-control input-sm" value="" placeholder="Max Negative Count" style="width:150px" />
                </div>
                <div class="form-group m-r-10 m-t-10">
                    <input type="text" class="form-control input-sm" name="trade_date"
                           placeholder="Date"
                           />
                </div>
                <div class="form-group m-r-10 m-t-10">
                    <div class="checkbox">
                        <label>
                            <input type="checkbox" id="is_all_category" /> All Categories
                        </label>
                    </div>
                </div>
                <div class="clearfix"></div>
                <div class="form-group m-r-10 m-t-10">
                    <button type="button" id="btn" class="btn btn-success btn-sm" data-bind="click:refresh">Refresh</button>
                </div>
            </div>
        </form>
    </div>
</div>
<div class="row" id="Company">
    <div class="col-md-12">
        <div class="row m-b-5">
            <div class="col-md-12">
                <div class="pull-right">
                    <button id="add" class="btn btn-sm btn-primary btn-add">Add</button>
                </div>
                <div class="pull-right m-r-15">
                    <button id="export" class="btn btn-sm btn-success btn-export">Export</button>
                </div>
                <div class="pull-right m-r-15">
                    <span>AVG.Profit&nbsp;:&nbsp;</span><span style="font-weight:bold;" data-bind="text:formatPercentage(avg_profit())"></span>
                </div>
                <div class="pull-right m-r-15">
                    <span>High AVG.Profit&nbsp;:&nbsp;</span><span style="font-weight:bold;" data-bind="text:formatPercentage(high_avg_profit())"></span>
                </div>
                <div class="pull-right m-r-15">
                    <span>Low AVG.Profit&nbsp;:&nbsp;</span><span style="font-weight:bold;" data-bind="text:formatPercentage(low_avg_profit())"></span>
                </div>
            </div>
        </div>
        <div class="row">
            <div class="col-md-6">
                <div class="pull-left m-r-15">
                    <span class="pull-left p-t-5 p-r-10">Rows</span>
                    <select id="rows" name="rows" class="pull-left form-control input-sm input-60">
                        <option value="10" selected>10</option>
                        <option value="20">20</option>
                        <option value="50">50</option>
                        <option value="200">200</option>
                        <option value="210">210</option>
                        <option value="500">500</option>
                    </select>
                </div>
                <div class="pull-left">
                    <span id="paging_status" class="pull-left m-t-5"></span>
                </div>
            </div>
            <div class="col-md-6">
                <div class="pull-right">
                    <ul class="manual-pagination no-margin"></ul>
                </div>
            </div>
            <input type="hidden" name="page_index" value="1" />
            <input type="hidden" name="sort_name" value="prev_rsi" />
            <input type="hidden" name="sort_order" value="desc" />
        </div>
        <table id="CompanyTable" class="table table-striped table-bordered table-hover table-condensed table-gray">
            <thead>
                <tr>
                    <th style="width: 20px">
                        &nbsp;
                    </th>
                    <th sortname="company_name">
                        Company
                    </th>
                    <th sortname="symbol">
                        Symbol
                    </th>
                    <th>
                        Category
                    </th>
                    <th sortname="yesterday_date" class="text-right text-nowrap">
                        Yesterday Date
                    </th>
                    <th sortname="yesterday_percentage" class="text-right text-nowrap">
                        Yesterday %
                    </th>
                    <th sortname="trade_date" class="text-right text-nowrap">
                        Date
                    </th>
                    <th sortname="prev_percentage" class="text-right text-nowrap">
                        C%
                    </th>
                    <th sortname="open_price" class="text-right text-nowrap">
                        Open
                    </th>
                    <th sortname="high_price" class="text-right text-nowrap">
                        High
                    </th>
                    <th sortname="low_price" class="text-right text-nowrap">
                        Low
                    </th>
                    <th sortname="ltp_price" class="text-right text-nowrap">
                        LTP
                    </th>
                    <th sortname="close_price" class="text-right text-nowrap">
                        Close
                    </th>
                    <th sortname="prev_rsi" class="text-right text-nowrap">
                        Prev.RSI
                    </th>
                    <th sortname="rsi" class="text-right text-nowrap">
                        RSI
                    </th>
                    <th style="width: 20px">
                    </th>
                </tr>
            </thead>
            <tbody data-bind="foreach:rows">
                <tr>
                    <td class="cls-symbol">
                        <div style="width:5px;">
                            <a href="javascript:;" data-bind="attr:{'cid':id()}" class="tree-expand ex-plus pull-left">
                                <span>&nbsp;</span>
                            </a>
                        </div>
                    </td>
                    <td style="vertical-align:top;" class="cursor-pointer btn-edit" data-bind="text:company_name">
                        <div style="width:150px;overflow:hidden;" data-bind="text:company_name">
                        </div>
                    </td>
                    <td style="vertical-align:top;" class="cursor-pointer btn-edit" data-bind="text:symbol"></td>
                    <td style="vertical-align:top;" class="cursor-pointer btn-edit">
                        <div style="width:250px;overflow:hidden;" data-bind="text:category_name">
                        </div>
                    </td>
                    <td style="vertical-align:top;" class="cursor-pointer btn-edit text-right">
                        <div data-bind="text:formatDate(yesterday_date())"></div>
                    </td>
                    <td style="vertical-align:top;" class="cursor-pointer btn-edit text-right">
                        <div data-bind="text:formatPercentage(yesterday_percentage())"></div>
                    </td>
                    <td style="vertical-align:top;" class="cursor-pointer btn-edit text-right">
                        <div data-bind="text:formatDate(trade_date())"></div>
                    </td>
                    <td style="vertical-align:top;" class="cursor-pointer btn-edit text-right">
                        <div data-bind="text:formatPercentage(prev_percentage())"></div>
                    </td>
                    <td style="vertical-align:top;" class="cursor-pointer btn-edit text-right">
                        <div data-bind="text:formatNumber(open_price())"></div>
                    </td>
                    <td style="vertical-align:top;" class="cursor-pointer btn-edit text-right">
                        <div data-bind="text:formatNumber(high_price())"></div>
                    </td>
                    <td style="vertical-align:top;" class="cursor-pointer btn-edit text-right">
                        <div data-bind="text:formatNumber(low_price())"></div>
                    </td>
                    <td style="vertical-align:top;" class="cursor-pointer btn-edit text-right">
                        <div data-bind="text:formatNumber(ltp_price())"></div>
                    </td>
                    <td style="vertical-align:top;" class="cursor-pointer btn-edit text-right">
                        <div data-bind="text:formatNumber(close_price())"></div>
                    </td>
                    <td style="vertical-align:top;" class="cursor-pointer btn-edit text-right">
                        <div data-bind="text:formatNumber(prev_rsi())"></div>
                    </td>
                    <td style="vertical-align:top;" class="cursor-pointer btn-edit text-right">
                        <div data-bind="text:formatNumber(rsi())"></div>
                    </td>
                    <td style="text-align:center;white-space:nowrap;">
                        <div style="width:80px;">
                            <div class="pull-left">
                                <a data-bind="attr:{'href': 'javascript:;'}" class="open-chart">C</a>
                            </div>
                            <div class="pull-left m-l-15">
                                <a data-bind="attr:{'href': 'https://www.google.com/search?q=NSE:'+symbol().replace('&','%26')}" target="_blank">G</a>
                            </div>
                            <div class="pull-left m-l-15">
                                <a data-bind="attr:{'href': 'https://www.google.com/finance?q=NSE:'+symbol().replace('&','%26')}" target="_blank">GF</a>
                            </div><div class="clearfix"></div>
                        </div>
                        <div class="clearfix"></div>
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</div>
<div class="modal-container">
</div>
<!-- /ko -->
<script type="text/html" id="modal-template">
    <div id="modal-${name}" class="modal {{if is_modal_full==true}}container{{/if}} {{if position=='top'}}modal-top{{/if}}" tabindex="-1" data-focus-on="input:first" data-width="800" style="display: none;">
        <div class="modal-header">
            <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            <h4 class="modal-title">${title}</h4>
        </div>
        <div class="modal-body">
            <div class="edit-cnt p-10">
                <div class="row">
                    <div class="col-md-12">
                        <form method="post" class="form-horizontal form-validate" role="form" onsubmit="return false" data-bind="formValidate:{}">
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    Company Name
                                </label>
                                <div class="col-md-7">
                                    <input type="text" class="form-control input-sm" name="company_name" data-bind="value:company_name" placeholder="Company Name" data-rule-required="true" data-msg-required="Required" data-placement="bottom" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    Symbol
                                </label>
                                <div class="col-md-7">
                                    <input type="text" class="form-control input-sm" name="symbol" data-bind="value:symbol" placeholder="Symbol" data-rule-required="true" data-msg-required="Required" data-placement="bottom" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    Category
                                </label>
                                <div class="col-md-7">
                                    <input type="hidden" name="category_name" />
                                </div>
                            </div>
                            <div class="form-group">
                                <label class="col-md-4 control-label">
                                    &nbsp;
                                </label>
                                <div class="col-md-8">
                                    <div class="pull-left">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="is_nifty_50" id="is_nifty_50" value="true" data-bind="checked:is_nifty_50,checkedValue:true" /> Nifty 50
                                            </label>
                                        </div>
                                    </div>
                                    <div class="pull-left m-l-15">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="is_nifty_100" id="is_nifty_100" value="true" data-bind="checked:is_nifty_100,checkedValue:true" /> Nifty 100
                                            </label>
                                        </div>
                                    </div>
                                    <div class="pull-left m-l-15">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="is_nifty_200" id="is_nifty_200" value="true" data-bind="checked:is_nifty_200,checkedValue:true" /> Nifty 200
                                            </label>
                                        </div>
                                    </div>
                                    <div class="pull-left m-l-15">
                                        <div class="checkbox">
                                            <label>
                                                <input type="checkbox" name="is_old" id="is_old" value="true" data-bind="checked:is_old,checkedValue:true" /> Old
                                            </label>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="form-group">
                                <div class="col-md-offset-4 col-md-8">
                                    <input type="hidden" name="id" data-bind="value:id" />
                                    <button type="submit" id="save" class="btn btn-sm btn-primary" data-loading-text="Save">Save</button>
                                    <button type="button" class="btn btn-sm btn-danger m-l-15" data-dismiss="modal">Cancel</button>
                                </div>
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</script>
<script type="text/html" id="detail-template">
    <div class="box-cnt">
        <div class="rsi-box pull-left m-r-15" style="width:45%;">
        </div>
        <div class="avg-month-box pull-left m-l-15" style="width:45%;">
        </div>
        <div class="clearfix">&nbsp;</div>
    </div>
</script>
<script type="text/html" id="detail-rsi-chart-template">
    <div id="curve_chart" style="width: 100%; height: 500px"></div>
</script>
<script type="text/html" id="detail-rsi-template">
    <table cellpadding="0" cellspacing="0" class="table table-condensed no-margin-bottom">
        <thead>
            <tr>
                <th>
                    Symbol
                </th>
                <th>
                    Date
                </th>
                <th class="text-right">
                    Close
                </th>
                <th class="text-right">
                    %
                </th>
                <th class="text-right">
                    RSI
                </th>
                @*<th class="text-right">
                        Prev.RSI
                    </th>*@
                <th class="text-right">
                    Open %
                </th>
                <th class="text-right">
                    High %
                </th>
            </tr>
        </thead>
        <tbody>
            {{each(j,row) rows}}
            <tr>
                <td>${row.symbol}</td>
                <td>${formatDate(row.trade_date)}</td>
                <td class="text-right">${formatNumber(row.close_price)}</td>
                <td class="text-right">${formatPercentage(row.prev_percentage)}</td>
                <td class="text-right">${formatNumber(row.rsi)}</td>
                @*<td class="text-right">${formatNumber(row.prev_rsi)}</td>*@
                <td class="text-right">${formatPercentage(row.open_percentage)}</td>
                <td class="text-right">${formatPercentage(row.high_percentage)}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</script>
<script type="text/html" id="detail-RSI-template">
    <table cellpadding="0" cellspacing="0" class="table table-condensed no-margin-bottom">
        <thead>
            <tr>
                <th>
                    Symbol
                </th>
                <th>
                    Date
                </th>
                <th>
                    Time
                </th>
                <th class="text-right">
                    Open
                </th>
                <th class="text-right">
                    LTP
                </th>
                <th class="text-right">
                    LTP%
                </th>
                <th class="text-right">
                    RSI
                </th>
                <th class="text-right">
                    Prev.RSI
                </th>
            </tr>
        </thead>
        <tbody>
            {{each(j,row) rows}}
            <tr>
                <td>${row.symbol}</td>
                <td>${formatDate(row.trade_date)}</td>
                <td>${row.time}</td>
                <td class="text-right">${formatNumber(row.open_price)}</td>
                <td class="text-right">${formatNumber(row.ltp_price)}</td>
                <td class="text-right">${formatPercentage(row.ltp_percentage)}</td>
                <td class="text-right">${formatNumber(row.rsi)}</td>
                <td class="text-right">${formatNumber(row.prev_rsi)}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</script>
<script type="text/html" id="detail-avg-month-template">
    <table cellpadding="0" cellspacing="0" class="table table-condensed no-margin-bottom">
        <thead>
            <tr>
                <th>
                    Symbol
                </th>
                <th>
                    Description
                </th>
                <th class="text-right">
                    Percentage
                </th>
            </tr>
        </thead>
        <tbody>
            {{each(j,row) rows}}
            <tr>
                <td>${row.symbol}</td>
                <td>${row.desc}</td>
                <td class="text-right">${formatPercentage(row.percentage)}</td>
            </tr>
            {{/each}}
        </tbody>
    </table>
</script> 