<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <configSections>
    <section name="ServerFileUpload" type="Ecam.Framework.ServerFileUpload, Ecam.Framework" />
    <section name="entityFramework" type="System.Data.Entity.Internal.ConfigFile.EntityFrameworkSection, EntityFramework, Version=6.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" requirePermission="false" />
    <!-- For more information on Entity Framework configuration, visit http://go.microsoft.com/fwlink/?LinkID=237468 -->
  </configSections>
  <appSettings>
    <add key="excel_file_url" value="E:\Projects\ecamshub\Ecam.ConsoleApp\AirportDBMaster.xlsx" />
    <add key="logpath" value="E:\Projects\ecamshub\Ecam.ConsoleApp\bin\logs" />
    <add key="htmlfolder" value="E:\Projects\ecamshub\Ecam.ConsoleApp\bin\html" />
    <add key="group_delete_tables" value="E:\Projects\ecamshub\Ecam.ConsoleApp\bin\group_delete_tables.txt" />
    <add key="site_views_path" value="E:\Projects\ecamshub\Ecam.Views" />
    <add key="airline_logo_path" value="E:\Projects\ecamshub\Ecam.Views" />
    <add key="ecam_url" value="http://dvl.ecamshub.com" />
    <add key="LINK_FILE_NAME" value="E:\Projects\Ecam.Test2\Ecam.Test\Ecam.ConsoleApp\bin\links.txt" />
    <add key="HTML_PATH" value="E:\Projects\Ecam.Test2\Ecam.Test\Ecam.ConsoleApp\bin\HTML" />
    <add key="MF_HTML_PATH" value="E:\Projects\Ecam.Test2\Ecam.Test\Ecam.ConsoleApp\bin\MF_HTML" />
    <add key="GOOGLE_DATA" value="E:\Projects\Ecam.Test2\Ecam.Test\Ecam.ConsoleApp\bin\GOOGLE_DATA" />
    <add key="GOOGLE_HISTORY_DATA" value="E:\Projects\Ecam.Test2\Ecam.Test\Ecam.ConsoleApp\bin\GOOGLE_HISTORY_DATA" />
    <add key="IMPORT_CSV" value="E:\Projects\Ecam.Test2\Ecam.Test\IMPORT_CSV\2016" />
    <add key="MC" value="E:\Projects\Ecam.Test2\Ecam.Test\Ecam.ConsoleApp\bin\MC" />
    <add key="NIFTY_FLAG_CSV" value="E:\Projects\Ecam.Test2\Ecam.Test\NIFTY_FLAG_CSV" />
    <add key="CATEGORY_FLAG_CSV" value="E:\Projects\Ecam.Test2\Ecam.Test\CATEGORY_FLAG_CSV" />
    <add key="MONEY_CONTROL" value="E:\Projects\Ecam.Test2\Ecam.Test\MONEY_CONTROL" />
    <add key="IS_NIFTY_100" value="false" />
    <add key="IS_NIFTY_50" value="false" />
    <add key="IS_NIFTY_200" value="false" />
    <add key="IS_IMPORT_CSV" value="true" />
    <add key="IS_NIFTY_FLAG_CSV" value="false" />
    <add key="IS_CATEGORY_FLAG_CSV" value="false" />
    <add key="IS_DOWNLOAD_HISTORY" value="false" />
    <add key="NUMBER_OF_ROWS" value="200" />
    <add key="SYMBOLS" value="" />
  </appSettings>
  <ServerFileUpload>
    <UploadPathKeys>
      <add key="TempPath" value="Files\temp\{0}" />
      <add key="AirlineLogoPath" value="Files\airline_logo\{0}" />
      <add key="CompanyLogoPath" value="Files\company_logo\{0}" />
      <add key="InvoiceLogoPath" value="Files\invoice_logo\{0}" />
      <add key="UserPhotoPath" value="Files\user_photo\{0}" />
      <add key="FlightBookFilePath" value="Files\flight_book_files\{0}" />
      <add key="DownloadImportError" value="Files\download\importerror\{0}" />
      <add key="BarcodeFilePath" value="Files\barcode\{0}" />
      <add key="DocumentPath" value="Files\company_document\{0}" />
      <add key="PreAlertExcelTemplatePath" value="importsample\{0}" />
      <add key="ProjectName" value="E-CAMS" />
    </UploadPathKeys>
  </ServerFileUpload>
  <connectionStrings>
    <add name="DefaultConnection" providerName="MySql.Data.MySqlClient" connectionString="server=localhost;port=3306;database=ecamtest_backup;uid=root;password=raga" />
    <add name="EcamContext" providerName="MySql.Data.MySqlClient" connectionString="server=localhost;port=3306;database=ecamtest_backup;uid=root;password=raga" />
  </connectionStrings>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <system.data>
    <DbProviderFactories>
      <remove invariant="MySql.Data.MySqlClient" />
      <add name="MySQL Data Provider" invariant="MySql.Data.MySqlClient" description=".Net Framework Data Provider for MySQL" type="MySql.Data.MySqlClient.MySqlClientFactory, MySql.Data, Version=6.9.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d" />
    </DbProviderFactories>
  </system.data>
  <entityFramework>
    <defaultConnectionFactory type="System.Data.Entity.Infrastructure.SqlConnectionFactory, EntityFramework" />
    <providers>
      <provider invariantName="System.Data.SqlClient" type="System.Data.Entity.SqlServer.SqlProviderServices, EntityFramework.SqlServer" />
      <provider invariantName="MySql.Data.MySqlClient" type="MySql.Data.MySqlClient.MySqlProviderServices, MySql.Data.Entity.EF6, Version=6.9.3.0, Culture=neutral, PublicKeyToken=c5687fc88969c44d">
      </provider>
    </providers>
  </entityFramework>
  <runtime>
    <assemblyBinding xmlns="urn:schemas-microsoft-com:asm.v1">
      <dependentAssembly>
        <assemblyIdentity name="Newtonsoft.Json" publicKeyToken="30ad4fe6b2a6aeed" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-10.0.0.0" newVersion="10.0.0.0" />
      </dependentAssembly>
      <dependentAssembly>
        <assemblyIdentity name="System.Web.Mvc" publicKeyToken="31bf3856ad364e35" culture="neutral" />
        <bindingRedirect oldVersion="0.0.0.0-5.0.0.0" newVersion="5.0.0.0" />
      </dependentAssembly>
    </assemblyBinding>
  </runtime>
</configuration>