<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <startup>
    <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.1" />
  </startup>
  <connectionStrings>
    <add name="MyInvestmentContext" connectionString="Data Source=DESKTOP-AER6KFM\SQL2017;Initial Catalog=MyInvestment;Persist Security Info=True;User ID=sa;Password=raga;MultipleActiveResultSets=True" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <appSettings>
    <add key="LOGPATH" value="E:\Projects\Ecam.Test2\Ecam.Test\ConsoleApplication1\ConsoleApplication1\bin\logs" />
    <add key="IMPORT_CSV" value="E:\IMPORT_CSV" />
    <add key="INVESTING_CSV" value="E:\Downloads" />
  </appSettings>
</configuration>